:root {
	--body: #fffdf7;
	--highlight: #fff9e6;
	--input: #8686ac;
	--mark-bg: #ffffb8;
	--mark-text: #339933;
	--selected: #A5AD66;
	--text: #4d4d00;
	--contentx: "DecoType Naskh Variants";
	--header: "NotoNastaliqUrduRegular";
	--reference: "Urdu Typesetting";
	--content: "DigitalKhatt Madina";
}
header, #filter, #total, #results , #pagination {
	direction: rtl;
	display: block;
	font-family: var(--content), content;
	font-size: 1.8em;
	margin-top: 1em;
	position: relative;
	right: 10%;
	text-indent: 1em;
	width: 80%;
}
#filter {
	border: 1px solid #d1d1e0;
	color: var(--input);
	font-size: 160%;
}
#total {
	color: var(--text);
	font-size: 1.5em;
	font-weight: bold;
}
#pagination {
	display: flex;
	margin: 3em 0;
}
header {
	color: var(--text);
	font-family: var(--header), header;
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 1.5em;
	text-align: center;
}
li {
	color: var(--text);
	list-style-type: arabic-indic;
}
p {
	color: var(--text);
	display: inline;
	line-height: 2.1em;
	overflow: auto;
}
code {
	color: var(--text);
	float: left;
	font-family: var(--reference), reference;
	font-size: .8em;
	font-weight: bolder;
	opacity: .7;
	position: relative;
}
code:hover {
	opacity: 1;
}
code mark {
	background-color: var(--mark-bg);
	color: var(--mark-text);
}
code mark:hover {
	background: none;
	background-color: var(--selected);
	color: white;
}
mark {
	background-color: var(--mark-bg);
	color: var(--mark-text);
}
mark:hover {
	background: none;
	background-color: var(--selected);
	color: white;
}
hr {
	background-color: #e6e6e6;
	border: 0 solid #e6e6e6;
	clear: both;
	height: 1px;
}
button {
	background-color: white;
	border: .1em solid var(--selected);
	color: var(--selected);
	cursor: pointer;
	margin: 0 .1em;
	padding: .5em .8em;	
}
button:hover {
	border: .2em solid var(--selected);
}
button:disabled {
	background-color: var(--selected);
	border: 2px solid var(--selected);
	color: white;
	cursor: default;
}
button:disabled:hover {
	background-color: var(--body);
	color: var(--selected);
}
button:first-child {
	margin-right: auto;
}
button:last-child {
	margin-left: auto;
}
[data-tip]:before {
	color: #ff531a;
    content: attr(data-tip);
	display:none;
	font-family: var(--content), content;
	font-size: 1em;
	font-weight: bold;
	height: 0;
	left: 80%;
	position: absolute;
}
[data-tip]:hover:before {
	display: block;
}
::placeholder {
	color: var(--input);
}
@font-face {
  font-family: content;
  src: url('fonts/decotype-naskh-variants.ttf') format("truetype");
}
@font-face {
  font-family: header;
  src: url('fonts/NotoNastaliqUrdu-Regular.ttf') format("truetype");
}
@font-face {
  font-family: reference;
  src: url('fonts/UrdType.ttf') format("truetype");
}
@font-face {
	  font-family: content;
	    src: url('fonts/digitalkhatt.woff') format("woff");
}